<header class="site-header">
  <div class="header-blur"></div>
  <div class="header-content">
    <a class="site-logo" href="<%= url_for('/') %>">
      <span class="logo-text"><%= config.title %></span>
    </a>
    <nav class="site-nav">
      <% for (var name in theme.menu){ %>
        <% if (is_home()) { %>
          <a class="nav-link" data-menu="<%- name.toLowerCase() %>" href="javascript:void(0)">
            <span class="nav-text"><%- name %></span>
          </a>
        <% } else { %>
          <a class="nav-link" data-menu="<%- name.toLowerCase() %>" href="<%- url_for(theme.menu[name]) %>">
            <span class="nav-text"><%- name %></span>
          </a>
        <% } %>
      <% } %>
    </nav>
  </div>
</header>
